@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.listaDeco {
    list-style: none;
    text-decoration: none;
}

.fuenteDigital {
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
    background-color: #8BC6EC;
}

@media (max-width: 991.98px) {
    .fuenteDigitalSM {
        font-size: small;
    }
}

.bg-gradient {
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
}