@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');
.listaDeco {
    list-style: none;
    text-decoration: none;
}

.fuenteDigital {
    font-family: 'Orbitron', sans-serif;
    font-size: xx-large;
    background-color: #8BC6EC;
}

@media (max-width: 991.98px) {
    .fuenteDigitalSM {
        font-size: small;
    }
}